In [1]:
import pandas as pd

In [2]:
# Original DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math Score': [85, 92, 78, 88],
    'English Score': [90, 86, 92, 80]
}

df = pd.DataFrame(data)

In [3]:
df

      Name  Math Score  English Score
0    Alice          85             90
1      Bob          92             86
2  Charlie          78             92
3    David          88             80

In [4]:
# Task 1: Retrieve the English score of 'Charlie'

charlie_english_score = df.loc[df['Name'] == 'Charlie', 'English Score'].values[0]
print("Charlie's English Score:", charlie_english_score)

Charlie's English Score: 92

In [5]:
# Task 2: Get the Math scores of all students

math_scores = df['Math Score']
print("\nMath Scores of all students:\n", math_scores)

Math Scores of all students:
 0    85
1    92
2    78
3    88
Name: Math Score, dtype: int64

In [6]:
# Task 3: Access the English score of the first student

first_student_english_score = df.loc[0, 'English Score']
print("\nEnglish Score of the first student (Alice):", first_student_english_score)

English Score of the first student (Alice): 90

In [7]:
# Task 4: Retrieve the Math score of the last student

last_student_math_score = df.iloc[-1]['Math Score']
print("\nMath Score of the last student (David):", last_student_math_score)

Math Score of the last student (David): 88

In [8]:
# Task 5: Update Bob's Math score to 95

df.loc[df['Name'] == 'Bob', 'Math Score'] = 95
print("\nUpdated Bob's Math Score:\n", df)

Updated Bob's Math Score:
       Name  Math Score  English Score
0    Alice          85             90
1      Bob          95             86
2  Charlie          78             92
3    David          88             80

In [9]:
# Task 6: Increase Charlie's English score by 5 points

df.loc[df['Name'] == 'Charlie', 'English Score'] += 5
print("\nIncreased Charlie's English Score:\n", df)

Increased Charlie's English Score:
       Name  Math Score  English Score
0    Alice          85             90
1      Bob          95             86
2  Charlie          78             97
3    David          88             80

In [10]:
# Task 7: Add a new row for 'Eve' with Math Score 88 and English Score 95

new_row = pd.DataFrame({'Name': ['Eve'], 'Math Score': [88], 'English Score': [95]})
df = pd.concat([df, new_row], ignore_index=True)
print("\nAdded Eve to the DataFrame:\n", df)

Added Eve to the DataFrame:
       Name  Math Score  English Score
0    Alice          85             90
1      Bob          95             86
2  Charlie          78             97
3    David          88             80
4      Eve          88             95

In [11]:
# Task 8: Delete the row for 'David' from the DataFrame

df = df[df['Name'] != 'David']
print("\nDeleted David's row:\n", df)

Deleted David's row:
       Name  Math Score  English Score
0    Alice          85             90
1      Bob          95             86
2  Charlie          78             97
4      Eve          88             95

In [12]:
# Task 9: Insert a new column called 'Science Score' with values [92, 84, 89, 78]

df['Science Score'] = [92, 84, 89, 78]
print("\nAdded 'Science Score' column:\n", df)

Added 'Science Score' column:
       Name  Math Score  English Score  Science Score
0    Alice          85             90             92
1      Bob          95             86             84
2  Charlie          78             97             89
4      Eve          88             95             78

In [13]:
# Task 10: Delete the 'English Score' column from the DataFrame

df = df.drop('English Score', axis=1)
print("\nDeleted 'English Score' column:\n", df)

Deleted 'English Score' column:
       Name  Math Score  Science Score
0    Alice          85             92
1      Bob          95             84
2  Charlie          78             89
4      Eve          88             78

In [14]:
# Task 11: Create a new column 'Total Score' that represents the sum of Math Score and Science Score

df['Total Score'] = df['Math Score'] + df['Science Score']
print("\nCreated 'Total Score' column:\n", df)

Created 'Total Score' column:
       Name  Math Score  Science Score  Total Score
0    Alice          85             92          177
1      Bob          95             84          179
2  Charlie          78             89          167
4      Eve          88             78          166

In [15]:
# Task 12: Find the student with the highest Total Score

highest_total_score_student = df.loc[df['Total Score'].idxmax()]
print("\nStudent with the highest Total Score:\n", highest_total_score_student)

Student with the highest Total Score:
 Name             Bob
Math Score        95
Science Score     84
Total Score      179
Name: 1, dtype: object

In [16]:
# Second DataFrame

data2 = {
    'Name': ['Eve', 'Frank'],
    'Math Score': [87, 76],
    'English Score': [94, 82]
}

df2 = pd.DataFrame(data2)

In [17]:
# Combine df2 with the original DataFrame df

combined_df = pd.concat([df, df2], ignore_index=True)
print("\nCombined DataFrame:\n", combined_df)

Combined DataFrame:
       Name  Math Score  Science Score  Total Score  English Score
0    Alice          85           92.0        177.0            NaN
1      Bob          95           84.0        179.0            NaN
2  Charlie          78           89.0        167.0            NaN
3      Eve          88           78.0        166.0            NaN
4      Eve          87            NaN          NaN           94.0
5    Frank          76            NaN          NaN           82.0